/.eslintcache
/.vscode
/.VSCodeCounter/
/cache
## npm artifacts
/build
/node_modules
/output
## Tauri artifacts
/tauri/target
/tauri/WixTools
/tauri/Cargo.lock
## typsecript trasnpiled file
**/*.js
**/*.jsx

**/*/.DS_Store
.DS_Store

## .env file, because they could contain sensitive information
.env
