/.eslintcache
/.vscode
/.VSCodeCounter/
/binaries
/build
/cache
/coverage
/database
/docs
/node_modules
/output
/react
/db
/src-bin/target/**
/src-bin/WixTools/**
updated
**/*/Cargo.lock
**/*.js
**/*.jsx
**/*/.DS_Store
.DS_Store
**/*/.env
.env
**/*/*.zip
**/*/_template.ts
