/.eslintcache
/.vscode
/.VSCodeCounter/
/cache
## npm artifacts
/build
/node_modules
/output
## Tauri artifacts
/tauri/target/**
/tauri/WixTools/**
**/*/Cargo.lock

## typsecript trasnpiled file
**/*.js
**/*.jsx

**/*/.DS_Store
.DS_Store

## .env files that could contain sensitive information
**/*/.env
.env
