* {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.CartGridItem {
  width: 25vh;
  height: 50vh;
}
.ContentArea {
  height: 95%;
  flex-direction: column;
  overflow: auto;
  justify-content: flex-start;
}
.NavBar {
  height: 5%;
}
.NavBarButton {
  text-decoration: bold;
}
.OrderGrid {
  height: 100vh;
  width: 90vw;
  overflow: scroll;
  scroll: vertical;
}
.OrderGridItem {
  width: 10vw;
}
.OrderMiniCart {
  height: 95vh;
  width: 10vw;
  overflow: scroll;
  scroll: vertical;
}
.OrderMiniCartItem {
  height: 30%;
  width: 90%;
}
.OrderViewSizer {
  height: 100vh;
  overflow: auto;
}
